<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<form action='http://127.0.0.1:5000/login' method="POST">
	<title>This is login page</title>
</head>
<body>
	<!-- Just an image -->
	<!-- Image and text -->
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="#"></a>
	</nav>
	<p>Name:
	<input type="text" name='userName'/></p>
	<p>Password:
	<input type="password" name='userPassWord'/></p>
	<p><input type='submit' value='submit'/></p>
	</form>
</body>
</html>